*{
    margin: 0;
    padding: 0;
  }
  .App{
    background-color: #EDEFF3;
    font-family: Arial, Helvetica, sans-serif;
  }
  .Header{
    background-color: #fff;
    color: #121118;
  }
  .Footer{
    background-color: #121118;
    color: #fff;
    font-size: 16px !important;
    display: flex;
    justify-content: space-around;
  }
  main{
    min-height: calc(100vh - 160px);
  }
  .Header, .Footer{
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 50px;
    box-sizing: border-box;
    font-size: 32px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
  }
  .CategoryList, .MealList{
    width: 100%;
    height: auto;
    padding: 30px auto;
    margin-top: 30px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .card{
    margin: 15px;
  }
  .card .card-text{
    height: 50px;
    overflow-y: hidden;
  }
  .resipe{
    margin: 30px auto;
    width: 90%;
    text-align: justify;
  }
  .resipe img{
    width: 40%;
    border-radius: 10px;
    display: block;
  }
  .resipe_content{
    width: 50%;
  }
  .table{
    width:50%;
  }
  .Loader{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  i{
    font-size: 54px;
  }
  .Category{
    width: 100%;
    padding: 30px;
    
  }